<p-toast />

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>



<p-table
    #dt
    [value]="listaCompras()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nome', 'cpf']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Compras"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Compras</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="min-width: 16rem">
                Id
            </th>
            <th pSortableColumn="nome" style="min-width:16rem">
                Cliente
                <p-sortIcon field="nome" />
            </th>
            <th pSortableColumn="valor" style="min-width: 8rem">
                Valor
                <p-sortIcon field="valor" />
            </th>
            <th pSortableColumn="dataPrevPagamento" style="min-width: 8rem">
                Previsão de Pagamento
                <p-sortIcon field="dataPrevPagamento"/>
            </th>
            <th style="min-width:10rem">
                Descrição
            </th>
            <th pSortableColumn="produto" style="min-width:10rem">
                Produto
                <p-sortIcon field="produto"/>
            </th>
            <th style="min-width:10rem">
                Quitado
            </th>
            <th pSortableColumn="total" style="min-width:10rem">
                Total
                <p-sortIcon field="total" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>

    <ng-template #body let-compras>
        <tr>
            <td style="min-width: 12rem">{{ compras.idCompra }}</td>
            <td style="min-width: 16rem"><p-button label="{{ compras.nome }}" icon="pi pi-user" (click)="hideDialogCliente(compras)"/></td>
            <td>{{ compras.valor }}</td>
            <td>{{ compras.dataPrevPagamento }}</td>
            <td>{{ compras.descricao }}</td>
            <td>{{ compras.produto }}</td>
            <td>
                <p-button class="custom-disabled" [disabled]="true"  *ngIf="compras.quitado!; else comprasNotCompensado" label="SIM" severity="success" />
                <ng-template #comprasNotCompensado>
                    <p-button class="custom-disabled" [disabled]="true" label="NÃO" severity="danger"></p-button>
                </ng-template>
            </td>
            <td>{{ compras.total }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editCompra(compras)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteCompra(compras)" />
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog [(visible)]="clienteDialog" [style]="{ width: '450px' }" header="Detalhes do Cliente" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nameCliente" class="block font-bold mb-3">Nome</label>
                <span id="nameCliente">{{ compra.nome }}</span>
            </div>
            <div>
                <label for="endrecoCliente" class="block font-bold mb-3">Endereço</label>
                <span id="endrecoCliente">{{ compra.endereco }}</span>
            </div>
            <div>
                <label for="phoneCliente" class="block font-bold mb-3">Telefone</label>
                <span id="phoneCliente">{{ compra.phone }}</span>
            </div>
            <div>
                <label for="cpfCliente" class="block font-bold mb-3">CPF</label>
                <span id="cpfCliente">{{ compra.cpf }}</span>
            </div>
        </div>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="compraDialog" [style]="{ width: '450px'}" header="{{ compra.produto != null ? compra.produto : 'Cadastrar Compra' }}"  [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">

            <div [hidden]="!selectEnable">
                <label for="nome" class="block font-bold mb-3">Cliente</label>
                <p-select  id="nome" [(ngModel)]="compra.idCliente" optionLabel="nome" [style]="{ width: '100%' }"
                          optionValue="id" [options]="listaClienteNomeId" [filter]="true" filterBy="nome"
                          appendTo="body">
                    <ng-template #item let-selectedOption>
                        <div>
                            <p>{{ selectedOption.nome }}</p>
                            <small>{{ selectedOption.cpf }}</small>
                        </div>
                    </ng-template>


                    <ng-template #selectedItem let-selectedOption>
                        <div>
                            {{ selectedOption.nome }} - <small>{{ selectedOption.cpf }}</small>
                        </div>
                    </ng-template>

                </p-select>
                <small class="text-red-500" *ngIf="submitted && !compra.idCliente">nome é obrigatoria.</small>
            </div>
            <div>
                <label for="descricao" class="block font-bold mb-3">Descrição</label>
                <input type="text" pInputText id="descricao"   [(ngModel)]="compra.descricao" required autofocus fluid   />
                <small class="text-red-500" *ngIf="submitted && !compra.descricao">Descrção é obrigatoria.</small>
            </div>

            <div>
                <label for="produto" class="block font-bold mb-3">Produto</label>
                <input type="text" pInputText id="produto" [(ngModel)]="compra.produto" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !compra.descricao">Produto é obrigatoria.</small>
            </div>

            <div>
                <label for="prevPagamento" class="block font-bold mb-3">Previsão Pagamento</label>
                <p-datePicker [inline]="true" [minDate]="minDate" [maxDate]="maxDate" dateFormat="dd/mm/yyyy" id="prevPagamento" [(ngModel)]="compra.dataPrevPagamento" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !compra.dataPrevPagamento">Previsão de pagamento é obrigatoria.</small>
            </div>

            <div>
                <label for="valor" class="block font-bold mb-3">Valor</label>
                <input type="number"  pInputText id="valor" [(ngModel)]="compra.valor" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !compra.valor">Valor é obrigatorio.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialogCompra()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveCompra()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
