<p-fluid class="grid grid-cols-12 gap-8">
    <div class="col-span-12 xl:col-span-6">
        <div class="card">
            <div class="font-semibold text-xl mb-4">Clientes</div>
            <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
        </div>
    </div>
    <div class="col-span-12 xl:col-span-6">
        <div class="card">
            <div class="font-semibold text-xl mb-4">Pagamentos Compras</div>
            <p-chart type="bar" [data]="pagamentosCompraslineData" [options]="pagamentosCompraslineDataOptions"></p-chart>
        </div>
    </div>
    <div class="col-span-12 xl:col-span-6">
        <div class="card flex flex-col items-center">
            <div class="font-semibold text-xl mb-4">Compras Quitadas</div>
            <p-chart type="pie" [data]="comprasPie" [options]="comprasPieOptions"></p-chart>
        </div>
    </div>
    <div class="col-span-12 xl:col-span-6">
        <div class="card flex flex-col items-center">
            <div class="font-semibold text-xl mb-4">Pagamentos Compensados</div>
            <p-chart type="pie" [data]="pagamentosPie" [options]="pagamentosPieOptions"></p-chart>
        </div>
    </div>
</p-fluid>
